{{ form_start(form) }}
    {{ form_row(form.candidat) }}
    {{ form_row(form.examen) }}
    {{ form_row(form.statut) }}
<button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
